*
{
    margin: 0;padding: 0;
    padding-left: 20px;
}

form{
    background-color: rgb(221, 221, 115);
    border: 2px solid green;
    width: 50%;
    margin-top: 40px;
    margin-left: 40px;
}

label{
    display: block;
}

input{
    margin-left: 25px;
    height: 25px;
    border: 2px solid rgb(232, 119, 119);
    color: blue;
}
select{
    margin-left: 25px;
    padding-right: 30px;
    height: 29px;
    border: rgb(214, 130, 130);
    color: blue;

}
button{
    background-color: navy;
    color: white;
    padding-right: 20px;
    margin-left: 60px;
}

